/*
Colours:
Pink                =   #E4006A
Transparent Pink    =   #d78ea5
Blue                =   #00A5E5
Transparent Blue    =   #86b5d5
Dark Blue           =   #0061A7
Green               =   #44A631
Transparent Green   =   #
Yellow              =   #E5C516
Orange              =   #EAA420
Transparent Orange  =   #e4d09f
Red                 =   #C90031
Teal                =   #008B7D

*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background-repeat: no-repeat;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 10px;
}

h1{
    font-size: 20px;
}

h1#page-title{
    font-size: 20px;
    display: block;
    border-bottom: 1px solid #889398;
    float:left;
    margin-bottom: 10px;
    width:100%;
}

h1#page-title span{
   background-color:#0061A7;
   display:block;
   float:left;
   color:white;
   padding:2px 10px;
}
h2{
    font-size: 16px;
}
h3{
    font-size: 14px;
    font-weight:bold;
}
h4{
    font-size: 14px;
}
h5{
    font-size: 12px;
}


a{
    color:#00A5E5;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    font-family: "Droid Sans",Tahoma,Helvetica,sans-serif;
    font-size: 75%;
    
    background-color:#f8f8f8;
    padding-bottom:20px;
}

table{
    width:100%;
}
.clear-block{
    clear:both;
    display: block;
}
.full-width{
    width:100%;
    float:left;

}
.float-right{
    float:right;
}
.float-left{
    float:left;
}
#map_canvas { height: 100% }

#header-group-wrapper{
    background:#171614;
    
}

.uk #header-group-wrapper{
    background-image: url(../_img/bg-home.jpg);
    background-position: center center;
}
#header-group{
 
}

#header-group-inner{
   padding:20px 0;
}

h1#site-name a{
    text-indent: -9999px;
    background-image: url(../_img/famelab_int_logo_blue.png);
    width:399px;
    height:115px;
    display:block;
    background-repeat: no-repeat;
}

.uk h1#site-name a{
   background-image: url(../_img/famelab_nesta_logo_blue.png);
}

#supporting-logo {
    height:111px;
    background-image: url(../_img/ch_logo.png);
    background-position: center right;
    text-indent: -9999px;
}

#search-box{
    float:right;
    background:white;
    width:225px;

}
#search label{
    display:none;
}

#search input{
    border:0;
    background:white;
    display: block;
    float:left;
    color:#0061A7;
    height:20px;
 }
 #search input.form-text{
     width:162px;
}

#search input.form-submit{
    height:22px;
    float:right;
    border-left: 1px solid black;
}

#nav-group-wrapper{
    background-image: url(../_img/nav_bg_carbon.gif);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: black;
    min-height: 53px;
    border-top:1px solid #242424;
}

#block-menu_block-2,
#block-menu_block-3{
    margin:0;
    padding:0;
    float:left;
    width:100%;
    background:transparent;
    border:none;
}

#block-menu_block-2 ul,
#block-menu_block-3 ul{
    float:left;
    width:100%;
    margin-bottom: 0;
}

#block-menu_block-2 li,
#block-menu_block-3 li{
    float:left;
    display:block;
    border:0;
}

#block-menu_block-2 li a,
#block-menu_block-3 li a{
    padding:5px 13px;
    display:block;
    text-transform:lowercase;
    font-size:13px;
    text-decoration: none;
    color:#efefef;
    font-weight:bold;
    text-align: center;
    border-right:1px solid #242424;
    min-height: 43px;
    max-width:97px;
    
}

#block-menu_block-3 li a{
   max-width:130px;
}

#block-menu_block-3 li.menu-mlid-608 a,
#block-menu_block-3 li.menu-mlid-1003 a,
#block-menu_block-3 li.menu-mlid-375 a{
   max-width:90px;
}

#block-menu_block-2 li.first a,
#block-menu_block-3 li.first a{
    border-left:1px solid #242424;
}

#block-menu_block-2 li a:hover,
#block-menu_block-2 li.active a,
#block-menu_block-3 li a:hover,
#block-menu_block-3 li.active a{
    color:white;
}

#page-group-wrapper{
    background-color:#e0edf3;
    padding:10px 0;
}

/*Breadcrumb*/
#breadcrumb ul{
    display: block;
    float:left;
    list-style: none;
}

#breadcrumb li{
    display: block;
    float:left;
    padding-left: 10px;
}
#breadcrumb li.first{
    padding-left:0;
}

/*tabs (local tasks)*/
.tabs{
    position:absolute;
    top:0;
    right: 0;
    width:500px
}
.tabs ul{
    width:auto;
    clear:both;
    display:block;
    float:right;
    background-color: #f9f9f9;    
}
.tabs ul,
.tabs li{
    display:block;
    list-style: none;
    float:left;
    margin:0;
    padding:0;
}

.tabs li a{
      padding:3px 5px;
      text-decoration: none;
      color:black;
      display: block;
      background-color: #f9f9f9;

}
.tabs li a:hover,
.tabs li.active a{
    background-color:#cedbe1;
}

.secondary{
    top:24px;
}

/* Left Nav */

#sidebar-left .block-menu_block,
#sidebar-left #block-views-news_events-block_1,
#sidebar-left #block-views-news_events_uk-block_1{
    width:100%;
    float:left;
    border:0;
    border-top:1px solid #889398;
    background: none;
    margin-top: 37px;
}

#sidebar-left .block-menu_block li,
#sidebar-left #block-views-news_events-block_1 li,
#sidebar-left #block-views-news_events_uk-block_1 li{
    font-size: 15px;
    border-bottom: 1px solid #cedbe1;
}

#sidebar-left .block-menu_block li a,
#sidebar-left #block-views-news_events-block_1 li a,
#sidebar-left #block-views-news_events_uk-block_1 li a{
    color:#889398;
    padding:.1em 5% ;
    display: block;
    background-color: white;
    width:90%;
    margin: .3em 0;
}

#sidebar-left .block-menu_block li a:hover,
#sidebar-left .block-menu_block li a.active{
    color:white;
    background-color:#889398;
    text-decoration: none;
}

#sidebar-left .block-menu_block li.last{
    border-bottom: 1px solid #889398;
}


#sidebar-left .block-menu_block li ul{
     border-top: 1px dashed #999;
     margin:0;
     display:none;
}
#sidebar-left .block-menu_block li.active-trail ul{display:block;}

#sidebar-left .block-menu_block li li {
    border-bottom:1px solid #999;
}
#sidebar-left .block-menu_block li li.last{
    border-bottom: 0;
}

#sidebar-left .block-menu_block li li a{
    padding:.1em 7.5% ;
    background-color: #cedbe1;
    width:85%;
    color:#555;
}

#main-content{
    background-color:white;
    padding: 10px 0;
  }

#main-content form,
#main-content .node,
#main-content #content-wrapper,
#main-content .faq-content{
      padding:0 10px;
}
.node ul.links{
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  background-color: #fafcfd;
  display: block;
  list-style: none;
  margin:0;
  padding:0;
}

.node .content ul{
    margin-left:16px;
}

.node ul

.block{
    background-color: #fff;
    border:1px solid white;

}

.block h2{
    display: block;
    width:95%;
    background-color:#EAA420;
    color:white;
    font-size: 13px;
    padding:2px 1% 2px 4%;
    margin-bottom:5px
}
.block h2 a{
    display:block;
    width:100%;
    color:white;
    text-decoration: none;
}
.block h2 a:hover{
    color:black;
}
.block ul{
    list-style: none;
}

#block-user-1 ul.menu{
    diplay:block;
    width:100%;
}
#block-user-1 ul.menu li{
    diplay:block;
    border-top:1px solid white;

}

#block-user-1 ul.menu li a{
    color:black;
    text-decoration: none;
    width:95%;
    padding-left:5%;
    background-color: #f9f9f9;
    display:block;
}
#block-user-1 ul.menu li a:hover{
    background-color: #cedbe1;
}

#boxes-box-sponsors img{
    padding-bottom: 5px;
}

#user-login-form #edit-submit{
    background-color: #0061A7;
    border:0;
    width:100%;
    color:white;
    padding:3px 0;
    margin-top:2px;
}

#user-login-form .item-list ul{
    diplay:block;

    width:100%;
}
#user-login-form .item-list ul li{
    diplay:block;
    border-top:1px solid white;

}

#sidebar-left .item-list ul li a{
    color:black;
    text-decoration: none;
    width:100%;
    background-color: #f9f9f9;
    display:block;
}


#footer-group-wrapper{
    
    padding:20px 0;
    background-color:#f4f4f4;
    border-top:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
}

#footer-group-wrapper .block{
    background-color: transparent;
    border:none;

}

dl.quote{
    display:block;
    float:left;
    width:100%;
    background-color:#fafcfd;
}

dl.quote dt{
    font-family: "Reenie Beanie";
    font-size: 27px;
    line-height: 1em;
}
dl.quote dd{
    font-weight: bold;
    padding-left:10px;
}
dl.quote dd:before{
content: "-  ";
}
/*
** Floating header for tableheader.js
*/
table.sticky-header {
  margin-top: 0;
  background: #fff;
}

.item-list .pager {
  clear: both;
  text-align: center;
}
.item-list .pager li {
  background-image:none;
  display:inline;
  list-style-type:none;
  padding: 0.5em;
}
.pager-current {
  font-weight:bold;
}

th.active img {
  display: inline;
}
tr.even, tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
td.active {
  background-color: #ddd;
}
td.checkbox, th.checkbox {
  text-align: center;
}
tbody {
  border-top: 1px solid #ccc;
}
tbody th {
  border-bottom: 1px solid #ccc;
}
thead th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

.emvideo-modal-iframe{
    margin: 0 !important;
    padding:0 !important;
}

.emvideo-modal-iframe #admin-toolbar{
    display:none !important;
}

.emvideo-modal-iframe #media-youtube-1 {
    margin: 0px auto;
    width: 640px;
}

.emvideo-thumbnail-replacement span{
    left:65px;
}

#map_canvas{
    margin: 10px 0;
}

#main-content .view-news-events ul,
#main-content .view-news-events-uk ul{
    list-style: none;
    padding-left: 20px;
}

#main-content .view-news-events li,
#main-content .view-news-events-uk li{
    margin-bottom: 10px;

}

.emvideo-thumbnail-replacement span {
  background: url(../_img/emvideo-play.png) no-repeat;
  /*The image should have the mouseover image to the right and the normal image to the left*/
  height: 112px;
  width: 72px;
  /*Reposition accordingly*/
  left:55px;
  top:10px;
}
.emvideo-thumbnail-replacement span:hover {
  background-position: -85px 0;
}


#block-fame_reg-0{
    clear:both;
    float: left;
    width: 100%;
    background: white;
}

#block-fame_reg-0 .content{
    float: left;
    width: 100%;
   
}
#block-fame_reg-0 .item-list{
    float: left;
    width: 100%;
}

#block-fame_reg-0 .item-list ul{
    list-style: none;
    float:left;
    width:100%;
    padding:0; 
    margin:0;
}

#block-fame_reg-0 .item-list ul li{
    float:left;
    width:94%;
    padding:3px 3%;
    border-bottom: 1px solid #efefef;
}

#block-fame_reg-0 .item-list ul li a{
    background-color: transparent;
}
#block-fame_reg-0 .item-list ul li.first{
    margin-top:0;
}

#block-fame_reg-0  .item-list ul li.last{
    border-bottom: 0;
}

#COSPlayer{
    margin-left: 20px;
}

#block-boxes-follow_us,
.pane-2{
    clear:both;
    float:left;
    width: 100%;
}

#block-boxes-follow_us .content,
.pane-2 .pane-content{
    float:left;
    background-color: white;
        width: 100%;
}
#block-boxes-follow_us ul li,
.pane-2 ul li{
    list-style: none;
    display: block;
    float:left;
    padding:5px 8px 0 8px;
}

.views-table{
    clear:both;
}

.view-id-Judges{
	padding:10px;
}

.view-id-Judges .views-row{
	float:left;
	clear:both;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px dashed #ccc;
	
}

.view-id-Judges .views-row p:last-child{
	padding-bottom:0;
	margin-bottom:0;
}

.view-id-Judges .views-field-field-image-fid img{
	float: left;
	padding-right: 9px;
	padding-top: 13px;
}

.view-id-Judges .views-field-title{
	font-size: 14px;
	font-weight: bold;
	clear:both;
}

.view-hall-of-famelab table{
	width:100% !important;
}

.view-hall-of-famelab h3{
	width:100%;
	border-top:1px dashed #ccc;
	padding-top:10px;
}
