
.front #main-content {
    background-color: transparent;
    float: left;
    padding: 20px 0;
    width: 100%;
}

.panels-flexible-region-3-top_left .panel-pane{
    padding:10px;
    background-color:white;
    text-align: justify;
}

.pane-homepage-video-panel-pane-1 td.col-1,
.pane-homepage-video-panel-pane-1 td.col-2,
.pane-homepage-video-panel-pane-1 td.col-3{
    width:33%;
}

.pane-homepage-video-panel-pane-1 tr{
    border-bottom: 5px solid transparent;
}
.pane-homepage-video-panel-pane-1 td{
    text-align: center;
}
.pane-homepage-video-panel-pane-1 td .views-field-field-embedded-video-embed{
    width:98%;
    margin:0 1%;
    background-color:white;
    padding:5px 0;
}
.pane-homepage-video-panel-pane-1 td .views-field-title{
    width:98%;
    margin:0 1%;
    background-color:#fafcfd;
    min-height: 3em;
    font-weight: bold;
    border-top:1px solid #efefef;
}
.bottom-row {
    padding-top:10px;
}

.bottom-row .panel-pane{
    min-height:60px;
    background-color:#0061A7;
    color:white;
    padding:15px;
}

.bottom-row .panels-flexible-region-3-second  .panel-pane{
     background-color:#EAA420;
}

.bottom-row .panels-flexible-region-3-third  .panel-pane{
     background-color:#C90031;
}

.bottom-row .panels-flexible-region-3-forth  .panel-pane{
     background-color:#EAA420;
}
.bottom-row .panels-flexible-region-3-fifth  .panel-pane{
     background-color:#44A631;
}