.uk-front #main-content,
.front #main-content {
    background-color: transparent;
    float: left;
    padding: 20px 0;
    width: 100%;
}

.uk-front .view-home-carousel,
.front .view-home-carousel{
    position: relative;
    height: 179px;
overflow: hidden;
    background-color:black;
    background-position: top;
}
.uk-front .views_slideshow_slide,
.front .views_slideshow_slide{
    padding:10px 0 40px;
}

.uk-front .view-home-carousel  .views-field-title .field-content,
.front .view-home-carousel  .views-field-title .field-content{
    background-color: #0061A7;
    background-repeat: repeat;
    color:white;
    font-weight: bold;
    padding:3px 6px;
    font-size: 15px;
}

.uk-front .view-home-carousel  .views-field-body .field-content,
.front .view-home-carousel  .views-field-body .field-content{
    background-image: url(../_img/trans-black-40.png);
    background-repeat: repeat;
    color:white;;
    padding:2px 5px;
    font-size: 13px;

}

.uk-front .panels-flexible-region-4-top_left .pane-1,
.front .panels-flexible-region-4-top_left .pane-1{
    border-bottom: 1px solid #E4006A;
    color:white;
    float: left;
    width:100%;
    
}
.front .panels-flexible-region-4-top_left .pane-1 h1,
.front .panels-flexible-region-4-top_left .pane-1 h1{
    background-color: #E4006A;
    width:auto;
    margin:0;
    padding:0px 5px;
    display: block;
    float:left;
    font-size: 15px;
}
.uk-front .panels-flexible-region-9-right,
.front .panels-flexible-region-4-right{
    background-color: white;
   
}
.uk-front #media-youtube-1,
.front #media-youtube-1{
    width:425px;
    margin:31px auto;
}
.uk-front .panels-flexible-region-9-center,
.front .panels-flexible-region-4-center {
    width:100%;
}
.uk-front .panels-flexible-region-3-top_left .panel-pane,
.front .panels-flexible-region-3-top_left .panel-pane{
    padding:10px;
    background-color:white;
    text-align: justify;
}

.uk-front .pane-homepage-video-panel-pane-1 td.col-1,
.uk-front .pane-homepage-video-panel-pane-2 td.col-1,
.front .pane-homepage-video-panel-pane-1 td.col-1,
.front .pane-homepage-video-panel-pane-2 td.col-1{
    width:25%;
    border-right: 1px solid #efefef;

}
.uk-front .pane-homepage-video-panel-pane-1 table,
.uk-front .pane-homepage-video-panel-pane-2 table,
.front .pane-homepage-video-panel-pane-1 table,
.front .pane-homepage-video-panel-pane-2 table{
    width:100%;
    background-color: #fafcfd;
    border-top:1px solid #efefef;
}
.uk-front .pane-homepage-video-panel-pane-1 tr,
.uk-front .pane-homepage-video-panel-pane-2 tr,
.front .pane-homepage-video-panel-pane-1 tr,
.front .pane-homepage-video-panel-pane-2 tr{
    border-bottom: 5px solid transparent;
}
.uk-front .pane-homepage-video-panel-pane-1 td,
.uk-front .pane-homepage-video-panel-pane-2 td,
.front .pane-homepage-video-panel-pane-1 td,
.front .pane-homepage-video-panel-pane-2 td{
    text-align: center;
}
.uk-front .pane-homepage-video-panel-pane-1 td .views-field-field-embedded-video-embed,
.uk-front .pane-homepage-video-panel-pane-2 td .views-field-field-embedded-video-embed,
.front .pane-homepage-video-panel-pane-1 td .views-field-field-embedded-video-embed,
.front .pane-homepage-video-panel-pane-2 td .views-field-field-embedded-video-embed{
    background-color:white;
    padding:5px 0;
}
.uk-front .view-homepage-video .views-field-title,
.front .view-homepage-video .views-field-title{
    width:90%;
    margin:0 1%;
    padding:0 4%;
    background-color:#fafcfd;
    min-height: 2.5em;
    font-weight: bold;
    border-top:1px solid #efefef;
    text-align: center;
}
.uk-front .panels-flexible-region-9-right  .views-field-title,
.front .panels-flexible-region-4-right  .views-field-title{
     width:100%;
     margin:0 -10px;
     padding:0 10px;
}

.uk-front .pane-1,
.front .pane-1{
    padding-top:10px;
    clear:both;
}
.uk-front .pane-1 ul,
.front .pane-1 ul{
    display:block;
    width:100%;
    background-color: white;
    float:left;
    border-top:2px solid #0061A7;
}

.uk-front .pane-1 ul li,
.front .pane-1 ul li{
    list-style: none;
    display: block;
    float:left;
    padding:5px 8px 0 8px;
}

.front .pane-2 .pane-content,
.front .pane-3 .pane-content{
   background-color: white;
   padding:0 0 0 3%;
   width:97%;
}

.front .pane-3 .pane-content{
   margin-top:10px;
   background-color:#EAA420;
   text-transform: uppercase;
   font-weight: bold;
   text-align:center;
    padding:0 2% 0 2%;
     width:96%;
}
.front .pane-3 .pane-content a{
    color:white;
}

.front .pane-2 img{
    padding-left:5px;
}