.view-filters{
    float:left;
    margin-bottom:10px;
    border:1px solid black;
    border-width:1px 0;
    padding:5px 1%;
    width:98%;
}

.view-filters .form-text{
    width:150px;
}
.view-alumni-search{
    padding:10px;
}

table.views-table{
    padding-top:10px;
}
table.views-table thead tr{
    background-color:#889398;
    border-bottom:3px solid white;

    color:white;
    margin:2px 0;
}
table.views-table th,
table.views-table td{
    padding:3px 5px;
    border-bottom:2px solid white;
    border-left:1px solid #889398;
    border-right:1px solid #889398;
}

table.views-table thead tr a{
     color:#EEE;
}


/* view-display-id-panel_pane_1 = Name*/
.view-display-id-panel_pane_1 .views-field-value-2,
.view-display-id-panel_pane_1 .views-field-value-1,
.view-display-id-panel_pane_1 .views-field-value{
    font-size: 20px;
    float:left;
    display: block;
    padding-left: 5px;
}

.view-display-id-panel_pane_1 .views-field-value-2{
    padding: 0;
}

/* view-display-id-panel_pane_3 = Main details*/
.view-display-id-panel_pane_3{
    padding-top: 10px;
}
.view-display-id-panel_pane_3 label,
.view-display-id-panel_pane_4 label{
    background-color: #0061A7;
    background-repeat: repeat; 
    color:white;
    font-weight: bold;
    padding:0 1em;
    line-height: 1.8em;
    font-size: 13px;
    float:left;
    margin:0;
    clear:both;
}
.view-display-id-panel_pane_3 .field-content,
.view-display-id-panel_pane_4 .field-content{
    clear:both;
    border-top:1px solid #0061A7;
    float:left;
    width:100%;
    padding:10px 0;
}

.view-Quotes{
    padding:10px;
}

.view-Quotes .views-row{
       display:block;
    float:left;
    width:100%;
    background-color:#fafcfd;
}

.view-Quotes .views-field-body{
    font-family: "Reenie Beanie";
    font-size: 27px;
    line-height: 1em;
}

.view-Quotes .views-field-title{
     font-weight: bold;
    padding-left:10px;
}