

/* view-display-id-panel_pane_1 = Name*/
.view-display-id-panel_pane_1 .views-field-value-2,
.view-display-id-panel_pane_1 .views-field-value-1,
.view-display-id-panel_pane_1 .views-field-value{
    font-size: 20px;
    float:left;
    display: block;
    padding-left: 5px;
}

.view-display-id-panel_pane_1 .views-field-value-2{
    padding: 0;
}

/* view-display-id-panel_pane_3 = Main details*/
.view-display-id-panel_pane_3{
    padding-top: 10px;
}
.view-display-id-panel_pane_3 label{
    background-color: #0061A7;
    background-repeat: repeat;
    color:white;
    font-weight: bold;
    padding:0 1em;
    line-height: 1.8em;
    font-size: 13px;
    float:left;
    margin:0;
    clear:both;
}
.view-display-id-panel_pane_3 .field-content{
    clear:both;
    border-top:1px solid #0061A7;
    float:left;
    width:100%;
    padding-top:10px;
}