.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-2-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-2-inside {
  padding-right: 0px;
}

.panels-flexible-2 {
  width: auto;
}

.panels-flexible-column-2-3 {
  position: relative;
  float: left;
  background-color: transparent;
  width: 300px;
}

.panels-flexible-column-2-5 {
  position: relative;
  float: left;
  background-color: transparent;
  width: 400px;
}

.panels-flexible-row-2-2-inside {
  padding-left: 700px;
  margin-left: -700px;
  padding-right: 0px;
}

* html .panels-flexible-row-2-2-inside {
  left: 700px;
}

.panels-flexible-region-2-top_left {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-2-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-2-top_right {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-2-6-inside {
  padding-right: 0px;
}

.panels-flexible-region-2-bottom {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-2-1-inside {
  padding-right: 0px;
}

