.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-3-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-3-inside {
  padding-right: 0px;
}

.panels-flexible-3 {
  width: auto;
}

.panels-flexible-column-3-2 {
  float: left;
  width: 29.7663%;
}

.panels-flexible-column-3-3 {
  float: left;
  width: 69.2337%;
}

.panels-flexible-row-3-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-3-top_left {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-3-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-3-top_right {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-3-5-inside {
  padding-right: 0px;
}

.panels-flexible-region-3-first {
  float: left;
  width: 19.8232%;
}

.panels-flexible-region-3-second {
  float: left;
  width: 19.8776%;
}

.panels-flexible-region-3-third {
  float: left;
  width: 19.8194%;
}

.panels-flexible-region-3-fourth {
  float: left;
  width: 19.7746%;
}

.panels-flexible-region-3-fifth {
  float: left;
  width: 19.7052%;
}

.panels-flexible-row-3-6-inside {
  padding-right: 0px;
}

